<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <section class="bg">
    
        

    <h1>Welcome to the Home!</h1>

        
        <p class="sub">You are successfully logged in.</p></div>
        <p class="main">HAI <%= username %> ...</p>
        <p class="main1">Your password is: <%= password %></p> 
        </div>

    <form action="/logout" >

        <button type="submit">logout</button>
    </form>
    </section>
</body>
</html>
